<div>
    <p-panel header="Bookings Management">
        <div class="card grid grid-cols-1 justify-content-center">
            <div class="overflowx-x-auto"> <!-- Make the container scrollable -->
                <app-custom-table (visible)="showDialog($event)" [editingStatus]="actionButtonStatus"
                    (updateData)="updateData($event)" [loading]="loading" [tableData]="bookingData" [columns]="columns"
                    [columnsDetails]="columnsDetails" [rowDetailsHeader]="rowDetailsHeader" [paginator]="paginator"
                    [rowsPerPageOptions]="rowsPerPageOptions"
                    [initialRowsPerPage]="initialRowsPerPage"></app-custom-table>
            </div>
        </div>
    </p-panel>
</div>
<p-dialog class="w-full lg:w-9/12" header="Add Bookings Status" [(visible)]="visible" [modal]="true" [draggable]="false"
    [resizable]="true" [style]="{ width: 'auto', height: '70rem' }">
    <app-custom-form [inputFields]="inputFields" (formSubmit)="onSubmitAddForm($event)" [patchData]="preFilledData"
        (formUpdate)="onSubmitUpdateForm($event)" [message]="message">
    </app-custom-form>

</p-dialog>