<div>
  <p-panel header="Product Management">
    <div class="card grid grid-cols-1 justify-content-center">
      <app-custom-table
        (visible)="showDialog($event)"
        (deleteData)="deleteProduct($event)"
        [loading]="loading"
        [tableData]="productData"
        [columns]="columns"
        [paginator]="paginator"
        [rowsPerPageOptions]="rowsPerPageOptions"
        [initialRowsPerPage]="initialRowsPerPage"
      ></app-custom-table>
    </div>
  </p-panel>
</div>
<p-dialog
  class="w-full lg:w-9/12"
  header="Add User"
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="true"
  [style]="{ width: 'auto', height: '70rems' }"
>
  <app-custom-form
    [inputFields]="inputFields"
    (formSubmit)="onSubmitAddForm($event)"
  >
  </app-custom-form>
</p-dialog>
