<div>
    <p-panel header="Activities Management">
        <div class="card grid grid-cols-1 justify-content-center">
            <div class="overflowx-x-auto"> <!-- Make the container scrollable -->
                <app-custom-table (visible)="showDialog($event)" (deleteData)="deleteData($event)" [loading]="loading"
                    [tableData]="toursData" [columns]="columns"[columnsDetails]="columnsDetails"[rowDetailsHeader]="rowDetailsHeader" [paginator]="paginator"
                    [rowsPerPageOptions]="rowsPerPageOptions"
                    [initialRowsPerPage]="initialRowsPerPage"></app-custom-table>
            </div>
        </div>
    </p-panel>
</div>
<p-dialog class="w-full lg:w-9/12" header="Add Activities" [(visible)]="visible" [modal]="true" [draggable]="false"
    [resizable]="true" [style]="{ width: 'auto', height: '70rem' }">
    <app-custom-form [inputFields]="inputFields" (formSubmit)="onSubmitAddForm($event)"(file)="onFileSelect($event)">
    </app-custom-form>

</p-dialog>

<!-- this is for show details -->
<!-- <p-dialog header="Row Details" [(visible)]="displayDialog" [modal]="true" [style]="{ width: '50vw' }"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="false">
  <div *ngIf="selectedRowDetails">
    <div><strong>Sr.No:</strong> {{ selectedRowDetails + 1 }}</div>
    <div><strong>Name</strong> {{ selectedRowDetails?.name }}</div>
    <div><strong>Sr.No:</strong> {{ selectedRowDetails.description }}</div>
    <div><strong>Sr.No:</strong> {{ selectedRowIndex + 1 }}</div>
    <div><strong>Sr.No:</strong> {{ selectedRowIndex + 1 }}</div>
    
    <div *ngFor="let col of columns">
      <ng-container *ngIf="col.field !== 'images' && col.field !== 'index'; else imageField">
        <strong>{{ col.header }}:</strong> {{ selectedRow[col.field] }}
      </ng-container>
      <ng-template #imageField>
        <ng-container *ngIf="col.field === 'images'">
          <strong>{{ col.header }}:</strong>
          <img *ngIf="selectedRow[col.field] && selectedRow[col.field].length > 0" [src]="selectedRow[col.field][0]"
            alt="Product Image" class="w-24 h-24 object-cover" />
        </ng-container>
      </ng-template>
    </div>
  </div>
</p-dialog> -->