<p-panel [header]="title">
    <div class="p-6">
        <form [formGroup]="formData" class="flex flex-col items-start space-y-4">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-full">
                <ng-container *ngFor="let field of inputFields">
                    <div class="form-group">
                        <label for="{{ field.fields.name }}" class="block font-medium mb-1">{{ field.fields.label }}
                            <span class="text-red-400">*</span></label>
                        <ng-container [ngSwitch]="field.type">
                            <!-- Text Input -->
                            <input pInputText *ngSwitchCase="'text'" type="text" class="form-control w-full"
                                [placeholder]="field.fields.placeholder" name="{{ field.fields.name }}"
                                formControlName="{{ field.fields.name }}" />

                            <!-- TextArea -->
                            <textarea formControlName="{{ field.fields.name }}" *ngSwitchCase="'textarea'" rows="3"
                                class="form-control w-full" [placeholder]="field.fields.placeholder"
                                pInputTextarea></textarea>

                            <!-- Number Input -->
                            <p-inputNumber [useGrouping]="false" formControlName="{{ field.fields.name }}"
                                *ngSwitchCase="'number'" type="number" class="form-control w-full" styleClass="w-full"
                                [placeholder]="field.fields.placeholder" name="{{ field.fields.name }}"></p-inputNumber>

                            <!-- Checkbox -->
                            <div *ngSwitchCase="'check'" class="mt-2">
                                <p-checkbox [binary]="true" formControlName="{{ field.fields.name }}"
                                    name="{{ field.fields.name }}">
                                    {{ field.fields.checklabel }}
                                </p-checkbox>
                            </div>

                            <!-- Radio Buttons -->
                            <div *ngSwitchCase="'radio'" class="flex mt-2">
                                <div *ngFor="let option of field.fields.options">
                                    <p-radioButton formControlName="{{ field.fields.name }}" [value]="option.value"
                                        [inputId]="option.value">
                                    </p-radioButton>
                                    <label class="mr-2">
                                        {{ option.label }}
                                    </label>
                                </div>
                            </div>

                            <!-- Select Input -->
                            <p-dropdown formControlName="{{ field.fields.name }}" *ngSwitchCase="'select'"
                                styleClass="w-full" class="w-full" [options]="field.fields.options" optionLabel="name"
                                [placeholder]="field.fields.placeholder" [showClear]="true">
                            </p-dropdown>

                            <!-- Multi Select -->
                            <p-multiSelect formControlName="{{ field.fields.name }}" [filter]="false"
                                *ngSwitchCase="'multipleSelect'" [options]="field.fields.options"
                                [placeholder]="field.fields.placeholder" optionLabel="name">
                            </p-multiSelect>

                            <!-- Date-->
                            <p-calendar [placeholder]="field.fields.placeholder"
                                formControlName="{{ field.fields.name }}" [showIcon]="true" *ngSwitchCase="'date'">

                            </p-calendar>

                            <!-- File -->
                            <div *ngSwitchCase="'file'">
                                <input id="file" class="w-full flex flex-col" type="file" accept="image/*"
                                    (change)="onFileSelected($event)" multiple>
                                <p class=" m-0 p-0 " *ngIf="field.fields.warn">{{field.fields.warn}}</p>
                                <!-- Display file names in the form (optional) -->
                                <div *ngIf="formData.get('images')">
                                    <ng-container *ngFor="let image of formData.get('images')?.value" >
                                        <img [src]="image" alt=""class="w-32 h-32 rounded-lg mr-6 mt-6">
                                    </ng-container>
                                    <!-- <div *ngFor="let preview of imagePreviews; let i = index" class="relative">
                                        <img [src]="preview" alt="Preview" class="h-40 w-40 object-cover rounded-md">
                                        <div
                                            class="remove-img w-6 h-6 absolute top-2 right-2 bg-[#808384] rounded-full flex justify-center items-center">
                                            <i class="pi pi-times text-[0.6rem] text-white cursor-pointer"
                                                (click)="removeImg('images', imagesLinksContainer[i])"></i>
                                        </div>
                                    </div> -->
                                </div>
                                <div *ngIf="formData.get('image')?.value">
                                    <img [src]="formData.get('image')?.value" alt="image"class="w-32 h-32 rounded-lg">
                                </div>
                            </div>

                            <div *ngIf="formData.get(field.fields.name)?.invalid && formData.get(field.fields.name)?.touched"
                                class="text-red-500">
                                <small *ngIf="formData.get(field.fields.name)?.errors?.['required']">This field is
                                    required.</small>
                                <small *ngIf="formData.get(field.fields.name)?.errors?.['minlength']">Minimum length
                                    required.</small>
                                <small *ngIf="formData.get(field.fields.name)?.errors?.['pattern']">Only alphabets
                                    allowed !</small>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <ng-content></ng-content>
            <p-button *ngIf="buttonStatus=='add'" (onClick)="submitForm()" [disabled]="formData.invalid " type="submit" label="Submit"
                class="btn btn-primary"></p-button>
            <p-button *ngIf="buttonStatus=='update'" (onClick)="updateForm()" [disabled]="formData.invalid " type="submit" label="Update"
                class="btn btn-primary"></p-button>
        </form>
    </div>
</p-panel>
<p-toast position="bottom-center"></p-toast>