<p-panel [header]="title">
    <div class="p-6">
        <form (ngSubmit)="submitForm()" [formGroup]="formData" class="flex flex-col items-start space-y-4">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <ng-container *ngFor="let field of inputFields">
                    <div class="form-group">
                        <label for="{{ field.fields.name }}" class="block font-medium">{{ field.fields.label }}</label>
                        <ng-container [ngSwitch]="field.type">
                            <!-- Text Input -->
                            <input pInputText *ngSwitchCase="'text'" type="text" class="form-control"
                                [placeholder]="field.fields.placeholder" name="{{ field.fields.name }}"
                                formControlName="{{ field.fields.name }}" />

                            <!-- TextArea -->
                            <textarea formControlName="{{ field.fields.name }}" *ngSwitchCase="'textarea'" rows="3"
                                class="form-control" [placeholder]="field.fields.placeholder" pInputTextarea></textarea>

                            <!-- Number Input -->
                            <p-inputNumber [useGrouping]="false" formControlName="{{ field.fields.name }}"
                                *ngSwitchCase="'number'" type="number" class="form-control"
                                [placeholder]="field.fields.placeholder" name="{{ field.fields.name }}"></p-inputNumber>

                            <!-- Checkbox -->
                            <div *ngSwitchCase="'check'" class="mt-2">
                                <p-checkbox [binary]="true" formControlName="{{ field.fields.name }}"
                                    name="{{ field.fields.name }}">
                                    {{ field.fields.checklabel }}
                                </p-checkbox>
                            </div>

                            <!-- Radio Buttons -->
                            <div *ngSwitchCase="'radio'" class="flex mt-2">
                                <div *ngFor="let option of field.fields.options">
                                    <p-radioButton formControlName="{{ field.fields.name }}" [value]="option.value"
                                        [inputId]="option.value">
                                    </p-radioButton>
                                    <label class="mr-2">
                                        {{ option.label }}
                                    </label>
                                </div>
                            </div>

                            <!-- Select Input -->
                            <p-dropdown formControlName="{{ field.fields.name }}" *ngSwitchCase="'select'"
                                [options]="field.fields.options" [placeholder]="field.fields.placeholder"
                                [showClear]="true">
                            </p-dropdown>

                            <!-- Multi Select -->
                            <p-multiSelect formControlName="{{ field.fields.name }}" [filter]="false"
                                *ngSwitchCase="'multipleSelect'" [options]="field.fields.options"
                                [placeholder]="field.fields.placeholder" optionLabel="name">
                            </p-multiSelect>

                            <!-- Date-->
                            <p-calendar [placeholder]="field.fields.placeholder"
                                formControlName="{{ field.fields.name }}" [showIcon]="true" *ngSwitchCase="'date'">

                            </p-calendar>

                            <!-- File -->
                            <input id="file" type="file" *ngSwitchCase="'file'"formControlName="{{field.fields.name}}"
                                accept="image/*" multiple>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <ng-content></ng-content>
            <p-button [disabled]="formData.invalid " type="submit" label="Submit" class="btn btn-primary"></p-button>
        </form>
    </div>
</p-panel>
<p-toast position="bottom-center"></p-toast>