<div class="card overflow-x-auto">
  <p-table editMode="row" dataKey="id" selectionMode="single" [loading]="loading" [columns]="columnsDetails" #dt
    [value]="tableData" [rows]="initialRowsPerPage" [paginator]="paginator" [rowsPerPageOptions]="rowsPerPageOptions"
    [globalFilterFields]="filterColumns" styleClass="p-datatable-gridlines h-100vh">
    <ng-template pTemplate="caption">
      <div class="flex flex-row justify-between mb-4">
        <div class="mb-2 md:mb-0" *ngIf="editingStatus.add">
          <button (click)="onAdd()" pButton label="Add" class="p-button-outlined" icon="pi pi-plus"></button>
        </div>
        <!-- <div class="text-left mb-2 md:mb-0">
          <p-button icon="pi pi-external-link" label="Export"  (onClick)="exportCSVWithAllColumns()" />
        </div> -->
        <!-- <div class="mb-2 md:mb-0">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search keyword" (input)="applyFilterGlobal($event, 'contains')"
              class="border rounded-md px-2 py-1" />
          </span>
        </div> -->
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let cols of columnsDetails" class="text-left">{{ cols.header }}</th>
        <th class="text-left">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-editing="editing" let-rowIndex="rowIndex" let-rowData let-columns="columns">
      <tr [pEditableRow]="rowData" class="">
        <td *ngFor="let col of columns" class="py-2 px-4 min-w-[150px]">
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'index'">
              {{ rowIndex + 1 }}
            </ng-container>
            <ng-container *ngSwitchCase="'images'">
              <img [src]="rowData[col.field][0]" *ngIf="rowData[col.field]?.length > 0" alt="Images"
                class="w-[200px] h-[100px] object-cover rounded-xl" />
            </ng-container>
            <ng-container *ngSwitchCase="'image'">
              <img [src]="rowData[col.field]" *ngIf="rowData[col.field]?.length > 0" alt="Image"
                class="w-[200px] h-[100px] object-cover rounded-xl" />
            </ng-container>
            <ng-container *ngSwitchCase="'paymentDate'">
              <span class="">{{rowData.paymentDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'bookingId'">
              <span class="">{{rowData.bookingId._id}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'tips'">
              <div *ngFor="let tip of rowData.tips">
                <span class="">{{ tip.title }}</span>
                <!-- <span *ngIf="tip.desc1">{{ tip.desc1 }}, {{ tip.desc2 }} {{ tip.icon1 }} {{ tip.icon2 }}</span>
                <span *ngIf="tip.desc">{{ tip.desc }},{{ tip.icon }}</span> -->
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'tour_id'">
              <span class="">{{rowData.tour_id._id}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'spot_id'">
              <span class="">{{rowData.spot_id._id}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'quote'">
              <span class="">{{rowData.quote.content}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'content'">
              <span class="">
                {{rowData.content[0].desc}}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'tours_details'">
              <span class="">
                {{rowData.tours_details[0].address}}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'priceDetails'">
              <span class="">Adult:
                {{rowData.priceDetails.adult.count}}
              </span>
              <span class="">Child:
                {{rowData.priceDetails.child.count}}
              </span>
              <span class="">Infant:
                {{rowData.priceDetails.infant.count}}
              </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="rowData[col.field]" class="border rounded-md px-2 py-1" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData[col.field] }}
                </ng-template>
              </p-cellEditor>
            </ng-container>
          </ng-container>
        </td>
        <td class="space-x-4 ">
          <div class="space-x-4  flex justify-center items-center">
            <i *ngIf="!editing && editingStatus.view" (click)="onRowView(rowData, rowIndex)"
              class="pi pi-eye cursor-pointer"></i>
            <i *ngIf="!editing && editingStatus.edit" pSaveEditableRow (click)="onRowEditInit(rowData)"
              class="pi pi-pencil cursor-pointer"></i>
            <i *ngIf="editing" pCancelEditableRow (click)="onRowEditCancel(rowData, rowIndex)"
              class="pi pi-times cursor-pointer"></i>
            <i *ngIf="!editing && editingStatus.delete" (click)="onRowDelete($event, rowData)"
              class="pi pi-trash cursor-pointer"></i>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast position="bottom-center"></p-toast>
<p-dialog [header]="rowDetailsHeader" [(visible)]="displayDialog" [modal]="true" styleClass="w-full md:w-[80%]"
  class="w-full md:w-[80vw] " [maximizable]="true" [baseZIndex]="10000" [draggable]="false">
  <div *ngIf="selectedRow && columns" class="grid gap-8 w-full" [ngClass]="columns.length==1?'grid-cols-1':'grid-cols-1 md:grid-cols-2'">
    <div *ngFor="let col of columns">
      <ng-container [ngSwitch]="col.field">

        <div class="">
          <ng-container *ngSwitchCase="'images'">
            <p class="mb-3 font-semibold">{{ col.header }}:</p>
            <div class="flex flex-col sm:flex-row gap-4 w-full pr-4">
              <ng-container *ngFor="let img of selectedRow.images;let i=index">

                <img *ngIf="selectedRow[col.field] && selectedRow[col.field].length > 0"
                  [src]="selectedRow[col.field][i]" alt="Product Image"
                  class="w-full sm:w-1/2 max-h-[300px] mr-4 object-cover rounded-xl" />
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="w-full">
          <ng-container *ngSwitchCase="'image'">
            <p class="mb-3 font-semibold">{{ col.header }}:</p>
            <ng-container>

              <img *ngIf="selectedRow[col.field] && selectedRow[col.field].length > 0" [src]="selectedRow[col.field]"
                alt="Product Image" class="w-full max-h-[300px] object-cover rounded-xl" />
            </ng-container>
          </ng-container>
        </div>

        <ng-container *ngSwitchCase="'content'">
          <span class="">
            <p class="font-bold mb-3">Content:</p>
            <p class="" *ngFor="let data of selectedRow.content">
              {{data.desc}}
            </p>
          </span>
        </ng-container>
        <ng-container *ngSwitchCase="'tours_details'">
          <p class="font-bold mb-3">Tours Details:</p>
          <div class="ml-8">
            <div class="" *ngFor="let tour of selectedRow.tours_details;let i=index">
              <ng-container *ngIf="i==0">
                <div>
                  <p class=" mb-3 "><span class="font-semibold">Tour Name:</span> {{tour.name}}</p>
                </div>
                <div>
                  <p class=""><span class="font-semibold">Tour Address:</span> {{tour.address}}</p>
                </div>

              </ng-container>
              <ng-container *ngIf="i>0">
                <div>
                  <p class=""><span class="font-semibold">Spots Name:</span> {{tour.spot_id.name}}</p>
                </div>
                <div>
                  <p class=""><span class="font-semibold">Activity Name:</span> {{tour.name}}</p>
                </div>

              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'priceDetails'">
          <div class="">
            <p class="font-bold">Price Details:</p>
            <div class="ml-8">
              <div class="" *ngIf="selectedRow.priceDetails.adult">
                <p class="font-bold">Adult:</p>
                <div class="ml-8">
                  <div>
                    <p class=""><span class="font-semibold">Count:</span> {{selectedRow.priceDetails.adult.count}}</p>
                  </div>
                  <div>
                    <p class=""><span class="font-semibold">Total Price:</span> {{selectedRow.priceDetails.adult.totalPrice}}</p>
                  </div>
                </div>
              </div>
              <div class="" *ngIf="selectedRow.priceDetails.child">
                <p class="font-bold">Child:</p>
                <div class="ml-8">

                  <div>
                    <p class=""><span class="font-semibold">Count:</span> {{selectedRow.priceDetails.child.count}}</p>
                  </div>
                  <div>
                    <p class=""><span class="font-semibold">Total Price:</span> {{selectedRow.priceDetails.child.totalPrice}}</p>
                  </div>
                </div>
              </div>
              <div class="" *ngIf="selectedRow.priceDetails.infant">
                <p class="font-bold">Infant:</p>
                <div class="ml-8">

                  <div>
                    <p class=""><span class="font-semibold">Count:</span> {{selectedRow.priceDetails.infant.count}}</p>
                  </div>
                  <div>
                    <p class=""><span class="font-semibold">Total Price:</span> {{selectedRow.priceDetails.infant.totalPrice}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'quote'">
          <div>
            <p class="font-bold">Quote:</p>
            <p>
              {{selectedRow.quote.content}}
            </p>
            <p class="font-bold">
              - {{selectedRow.quote.name}}
            </p>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'tips'">
          <div *ngFor="let tip of selectedRow.tips">
            <div *ngIf="tip.desc1">
              <div class="mb-2">
                <p class="font-bold mb-2">{{ tip.title }}:</p>
                <p>{{ tip.icon1 }} {{ tip.desc1 }}</p>
                <p>{{ tip.icon2 }} {{ tip.desc2 }}</p>
              </div>
            </div>
            <div *ngIf="tip.desc" class="flex flex-col">
              <p class="font-bold">{{ tip.title }}:</p>
              <p>{{ tip.desc }}</p>
              <span> <img [src]="tip.icon" alt="image" class="w-10 h-10 object-cover rounded-full"></span>
            </div>
          </div>
        </ng-container>
        <!-- this is for payment details  -->
        <ng-container *ngSwitchCase="'bookingId'">
          <div class="flex flex-col ">
            <p class="font-bold">Booking Details: </p>
            <div class="ml-8">
              <div>
                <p class=""><span class="font-semibold">Booking Id:</span> {{selectedRow.bookingId._id}}</p>
              </div>
              <div>
                <p class=""><span class="font-semibold">User Name:</span> {{selectedRow.bookingId.user_name}}</p>
              </div>
              <div>
                <p class=""><span class="font-semibold">User Email:</span> {{selectedRow.bookingId.user_email}}</p>
              </div>
              <div>
                <p class=""><span class="font-semibold">User Phone:</span> {{selectedRow.bookingId.user_mobile}}</p>
              </div>
              <div>
                <p class=""><span class="font-semibold">Total Price:</span> {{selectedRow.bookingId.totalPrice}}</p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'paymentDate'">
          <span class=""><span class="font-semibold">Payment Date:</span> {{selectedRow.paymentDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </ng-container>

        <ng-container *ngSwitchCase="'tour_id'">
          <div>
            <p class=""><span class="font-semibold">Tour Name:</span> {{selectedRow.tour_id.name}}</p>
            
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'spot_id'">
          <div>
            <p class=""><span class="font-semibold">Spot Name:</span> {{selectedRow.spot_id.name}}</p>
            
          </div>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <p class="mb-2 "><span class="font-semibold">{{ col.header }}:</span> {{ selectedRow[col.field] }}</p>
        </ng-container>
      </ng-container>

      <!-- <ng-container *ngIf="col.field !== 'images' && col.field !== 'index'; else imageField">
        <strong>{{ col.header }}:</strong> {{ selectedRow[col.field] }}
      </ng-container>
      <ng-template #imageField>
        <ng-container *ngIf="col.field === 'images'">
          <strong>{{ col.header }}:</strong>
          <img *ngIf="selectedRow[col.field] && selectedRow[col.field].length > 0" [src]="selectedRow[col.field][0]"
            alt="Product Image" class="w-24 h-24 object-cover" />
        </ng-container>
      </ng-template> -->
    </div>
  </div>
</p-dialog>