<div class="card overflow-x-auto">
  <p-table editMode="row" dataKey="id" [loading]="loading" [columns]="columns" #dt [value]="tableData"
    [rows]="initialRowsPerPage" [paginator]="paginator" [rowsPerPageOptions]="rowsPerPageOptions"
    [globalFilterFields]="filterColumns" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
      <div class="flex flex-row justify-between mb-4">
        <div class="mb-2 md:mb-0" *ngIf="editingStatus">
          <button (click)="onAdd()" pButton label="Add" class="p-button-outlined" icon="pi pi-plus"></button>
        </div>
        <div class="text-left mb-2 md:mb-0">
          <p-button icon="pi pi-external-link" label="Export" (onClick)="dt.exportCSV()" />
        </div>
        <!-- <div class="mb-2 md:mb-0">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search keyword" (input)="applyFilterGlobal($event, 'contains')"
              class="border rounded-md px-2 py-1" />
          </span>
        </div> -->
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let cols of columns" class="text-left">{{ cols.header }}</th>
        <th class="text-left">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-editing="editing" let-rowIndex="rowIndex" let-rowData let-columns="columns">
      <tr [pEditableRow]="rowData" class="hover:bg-gray-100">
        <td *ngFor="let col of columns" class="py-2 px-4 min-w-[250px]">
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'index'">
              {{ rowIndex + 1 }}
            </ng-container>
            <ng-container *ngSwitchCase="'images'">
              <img [src]="rowData[col.field][0]" *ngIf="rowData[col.field]?.length > 0" alt="First Image"
                class="w-[200px] " />
            </ng-container>
            <ng-container *ngSwitchCase="'image'">
              <img [src]="rowData[col.field]" *ngIf="rowData[col.field]?.length > 0" alt="First Image"
                class="w-[200px] " />
            </ng-container>
            <ng-container *ngSwitchCase="'tips'">
              <div *ngFor="let tip of rowData.tips">
                <span class="">{{ tip.title }}</span>
                <!-- <span *ngIf="tip.desc1">{{ tip.desc1 }}, {{ tip.desc2 }} {{ tip.icon1 }} {{ tip.icon2 }}</span>
                <span *ngIf="tip.desc">{{ tip.desc }},{{ tip.icon }}</span> -->
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'tour_id'">
              <span class="">{{rowData.tour_id._id}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'spot_id'">
              <span class="">{{rowData.spot_id._id}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'quote'">
              <span class="">{{rowData.quote.content}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'content'">
              <span class="">
                {{rowData.content[0].desc}}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'tours_details'">
              <span class="">
                {{rowData.tours_details[0].address}}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'priceDetails'">
              <span class="">Adult:
                {{rowData.priceDetails.adult.count}}
              </span>
              <span class="">Child:
                {{rowData.priceDetails.child.count}}
              </span>
              <span class="">Infant:
                {{rowData.priceDetails.infant.count}}
              </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="rowData[col.field]" class="border rounded-md px-2 py-1" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData[col.field] }}
                </ng-template>
              </p-cellEditor>
            </ng-container>
          </ng-container>
        </td>
        <td class="space-x-4">
          <i *ngIf="!editing" (click)="onRowView(rowData, rowIndex)" class="pi pi-eye cursor-pointer"></i>
          <i *ngIf="editing" pSaveEditableRow (click)="onRowEditSave(rowData)" class="pi pi-check cursor-pointer"></i>
          <i *ngIf="editing" pCancelEditableRow (click)="onRowEditCancel(rowData, rowIndex)"
            class="pi pi-times cursor-pointer"></i>
          <i *ngIf="!editing && editingStatus" (click)="onRowDelete($event, rowData)"
            class="pi pi-trash cursor-pointer"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast position="bottom-center"></p-toast>
<p-dialog header="Row Details" [(visible)]="displayDialog" [modal]="true"styleClass="w-full md:w-[75%] lg:w-[50%]" class="w-full md:w-[70vw] "
  [maximizable]="true" [baseZIndex]="10000" [draggable]="false">
  <div *ngIf="selectedRow">
    <div><strong>Sr.No:</strong> {{ selectedRowIndex + 1 }}</div>

    <div *ngFor="let col of columns">
      <ng-container [ngSwitch]="col.field">

        <ng-container *ngSwitchCase="'images'">
          <strong>{{ col.header }}:</strong>
          <ng-container *ngFor="let img of selectedRow.images;let i=index">

            <img *ngIf="selectedRow[col.field] && selectedRow[col.field].length > 0" [src]="selectedRow[col.field][i]"
              alt="Product Image" class="w-24 h-24 object-cover" />
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'image'">
          <strong>{{ col.header }}:</strong>
          <ng-container>

            <img *ngIf="selectedRow[col.field] && selectedRow[col.field].length > 0" [src]="selectedRow[col.field]"
              alt="Product Image" class="w-24 h-24 object-cover" />
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'tour_id'">
          <span class=""><span class="font-bold">Tour Id:</span>>{{selectedRow.tour_id._id}}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'spot_id'">
          <span class=""><span class="font-bold">Spot Id:</span>{{selectedRow.spot_id._id}}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'content'">
          <span class="">Content:
            <span class="font-bold" *ngFor="let data of selectedRow.content">
              {{data.desc}}
            </span>
          </span>
        </ng-container>
        <ng-container *ngSwitchCase="'tours_details'">
          <span class="font-bold">ToursDetails: <br></span>
          <span>
            <span class="" *ngFor="let tour of selectedRow.tours_details;let i=index">
              <ng-container *ngIf="i==0">
                <span class=""><span class="font-bold">Tour Name: </span> {{tour.name}}</span><br>
                <span class=""><span class="font-bold">Tour Address: </span> {{tour.address}}</span><br>
              </ng-container>
              <ng-container *ngIf="i>0">
                <span class=""><span class="font-bold">Spots Name: </span>{{tour.spot_id.name}}</span><br>
                <span class=""><span class="font-bold">Activity Name: </span>{{tour.name}}</span><br>

              </ng-container>
            </span>
          </span>
        </ng-container>
        <ng-container *ngSwitchCase="'priceDetails'">
          <span class="">Price Details with person:
            <span class="font-bold" *ngIf="selectedRow.priceDetails.adult">
              <p class="font-bold">Adult:</p>
              <span>
                <span class="font-semibold">Count:</span>
                {{selectedRow.priceDetails.adult.count}}</span><br>
              <span>
                <span class="font-semibold">Total Price:</span>
                {{selectedRow.priceDetails.adult.totalPrice}}
              </span>
            </span>
            <span class="font-bold" *ngIf="selectedRow.priceDetails.child">
              <p class="font-bold">Child:</p>
              <span>
                <span class="font-semibold">Count:</span>
                {{selectedRow.priceDetails.child.count}}
              </span><br>
              <span>
                <span class="font-semibold">Total Price:</span>
                {{selectedRow.priceDetails.child.totalPrice}}
              </span>
            </span>
            <span class="font-bold" *ngIf="selectedRow.priceDetails.infant">
              <p class="font-bold">Infant:</p>
              <span>
                <span class="font-semibold">Count:</span>
                {{selectedRow.priceDetails.infant.count}}
              </span><br>
              <span>
                <span class="font-semibold">Total Price:</span>
                {{selectedRow.priceDetails.infant.totalPrice}}
              </span>
            </span>
          </span>
        </ng-container>
        <ng-container *ngSwitchCase="'quote'">
          <span class="font-bold">Quote:
            <span>
              {{selectedRow.quote.content}}
            </span>
            <span class="font-bold">
              - {{selectedRow.quote.name}}
            </span>
          </span>
        </ng-container>
        <ng-container *ngSwitchCase="'tips'">
          <div *ngFor="let tip of selectedRow.tips">
            <div *ngIf="tip.desc1">
              <span class="font-bold">{{ tip.title }}:</span>
              <span>{{ tip.desc1 }}, {{ tip.desc2 }}</span>
              <span> {{ tip.icon1 }} {{ tip.icon2 }}</span>
            </div>
            <div *ngIf="tip.desc">
              <span class="font-bold">{{ tip.title }}:</span>
              <span>{{ tip.desc }}</span>
              <span> {{ tip.icon }}</span>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <strong>{{ col.header }}:</strong> {{ selectedRow[col.field] }}
        </ng-container>
      </ng-container>

      <!-- <ng-container *ngIf="col.field !== 'images' && col.field !== 'index'; else imageField">
        <strong>{{ col.header }}:</strong> {{ selectedRow[col.field] }}
      </ng-container>
      <ng-template #imageField>
        <ng-container *ngIf="col.field === 'images'">
          <strong>{{ col.header }}:</strong>
          <img *ngIf="selectedRow[col.field] && selectedRow[col.field].length > 0" [src]="selectedRow[col.field][0]"
            alt="Product Image" class="w-24 h-24 object-cover" />
        </ng-container>
      </ng-template> -->
    </div>
  </div>
</p-dialog>