<div>
    <p-panel header="Tours Management">
        <div class="card grid grid-cols-1 justify-content-center">
            <div class="overflowx-x-auto"> <!-- Make the container scrollable -->
                <app-custom-table (visible)="showDialog($event)" (deleteData)="deleteData($event)"(updateData)="updateData($event)" [loading]="loading"[editingStatus]="actionButtonStatus"
                    [tableData]="toursData" [columns]="columns"[columnsDetails]="columnsDetails"[rowDetailsHeader]="rowDetailsHeader" [paginator]="paginator"
                    [rowsPerPageOptions]="rowsPerPageOptions"[deleteMessage]="deleteMessage"
                    [initialRowsPerPage]="initialRowsPerPage"></app-custom-table>
            </div>
        </div>
    </p-panel>
</div>
<p-dialog class="w-full "styleClass="w-full lg:w-[90%]" [header]="header" [(visible)]="visible" [modal]="true" [draggable]="false"
    [resizable]="true" [style]="{ height: '70rem' }">
    <app-custom-form [inputFields]="inputFields"[dynamicForms]="dynamicForms"[patchData]="preFilledData"[message]="message" (formSubmit)="onSubmitAddForm($event)" (formUpdate)="onSubmitUpdateForm($event)"(file)="onFileSelect($event)">
        <div class="p-fluid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-full">

            <!-- Loop through dynamic forms array to generate the input fields -->
            <div *ngFor="let form of dynamicForms; let i = index" class="p-fluid p-mb-4 w-full">

                <!-- Title Input -->
                <div class="p-field p-grid">
                    <label for="title-{{i}}" class="p-col-12 p-md-2">Tips Title <span class="text-red-400">*</span></label>
                    <div class="p-col-12 p-md-10">
                        <input pInputText id="title-{{i}}" [(ngModel)]="form.title" placeholder="Enter Title {{i+1}}" />
                    </div>
                </div>

                <!-- Description 1 Input -->
                <div class="p-field p-grid">
                    <label for="desc1-{{i}}" class="p-col-12 p-md-2">Description 1 <span class="text-red-400">(At most 40 word!)*</span></label>
                    <div class="p-col-12 p-md-10">
                        <textarea pInputTextarea id="desc1-{{i}}" [(ngModel)]="form.desc1" placeholder="Enter Description 1"maxlength="40"></textarea>
                    </div>
                </div>

                <!-- Icon 1 Input -->
                <div class="p-field p-grid">
                    <label for="icon1-{{i}}" class="p-col-12 p-md-2">Emoji 1 <span class="text-red-400">*</span></label>
                    <div class="p-col-12 p-md-10">
                        <input pInputText id="icon1-{{i}}" [(ngModel)]="form.icon1" placeholder="Enter Icon 1" />
                    </div>
                </div>

                <!-- Description 2 Input -->
                <div class="p-field p-grid">
                    <label for="desc2-{{i}}" class="p-col-12 p-md-2">Description 2 <span class="text-red-400">(At most 40 word!)*</span></label>
                    <div class="p-col-12 p-md-10">
                        <textarea pInputTextarea id="desc2-{{i}}" [(ngModel)]="form.desc2" placeholder="Enter Description 2"maxlength="40"></textarea>
                    </div>
                </div>

                <!-- Icon 2 Input -->
                <div class="p-field p-grid">
                    <label for="icon2-{{i}}" class="p-col-12 p-md-2">Emoji 2 <span class="text-red-400">*</span></label>
                    <div class="p-col-12 p-md-10">
                        <input pInputText id="icon2-{{i}}" [(ngModel)]="form.icon2" placeholder="Enter Icon 2" />
                    </div>
                </div>

            </div>
            
        </div>
        <!-- Button to Add More Forms -->
        <div class="w-full flex flex-col sm:flex-row justify-start gap-2 sm:gap-4">
            <div class="p-field p-grid">
                <div class="p-col-12 p-md-10 p-md-offset-2 w-full">
                    <button pButton type="button" label="Add Tips" icon="pi pi-plus" (click)="addNewForm()"></button>
                </div>
            </div>
            <div class="p-field p-grid">
                <div class="p-col-12 p-md-10 p-md-offset-2 w-full">
                    <button pButton type="button" label="Remove Tips" icon="pi pi-minus" (click)="removeForm()"></button>
                </div>
            </div>
        </div>
    </app-custom-form>

</p-dialog>
<p-toast position="bottom-center"></p-toast>

<!-- this is for show details -->
<!-- <p-dialog header="Row Details" [(visible)]="displayDialog" [modal]="true" [style]="{ width: '50vw' }"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="false">
  <div *ngIf="selectedRowDetails">
    <div><strong>Sr.No:</strong> {{ selectedRowDetails + 1 }}</div>
    <div><strong>Name</strong> {{ selectedRowDetails?.name }}</div>
    <div><strong>Sr.No:</strong> {{ selectedRowDetails.description }}</div>
    <div><strong>Sr.No:</strong> {{ selectedRowIndex + 1 }}</div>
    <div><strong>Sr.No:</strong> {{ selectedRowIndex + 1 }}</div>
    
    <div *ngFor="let col of columns">
      <ng-container *ngIf="col.field !== 'images' && col.field !== 'index'; else imageField">
        <strong>{{ col.header }}:</strong> {{ selectedRow[col.field] }}
      </ng-container>
      <ng-template #imageField>
        <ng-container *ngIf="col.field === 'images'">
          <strong>{{ col.header }}:</strong>
          <img *ngIf="selectedRow[col.field] && selectedRow[col.field].length > 0" [src]="selectedRow[col.field][0]"
            alt="Product Image" class="w-24 h-24 object-cover" />
        </ng-container>
      </ng-template>
    </div>
  </div>
</p-dialog> -->