<div>
    <div class="card flex w-screen h-screen justify-center items-center " *ngIf="!allDetails.toursLength">
        <p-progressSpinner styleClass="text-primary w-12 h-12" strokeWidth="4" fill="white"
            animationDuration="1s"></p-progressSpinner>
    </div>
    <p-panel header="Dashboard" *ngIf="allDetails.toursLength">

        <div class="card grid grid-cols-1 md:grid-cols-3 justify-content-center">
            <p-card header="Tours" class="m-2 text-center" styleClass="text-center m-0 p-0">
                <p class="m-0 ">
                    {{allDetails.toursLength}}
                </p>
                <ng-template pTemplate="footer">
                    <a class="no-underline text-xl" routerLink="/tours">Read More</a>
                </ng-template>
            </p-card>
            <p-card header="Spots" class="m-2 text-center" styleClass="text-center">
                <p class="m-0">
                    {{allDetails.spotsLength}}
                </p>
                <ng-template pTemplate="footer">
                    <a class="no-underline text-xl" routerLink="/spots">Read More</a>
                </ng-template>
            </p-card>
            <p-card header="Activities" class="m-2 text-center" styleClass="text-center">
                <p class="m-0">
                    {{allDetails.activitiesLength}}
                </p>
                <ng-template pTemplate="footer">
                    <a class="no-underline text-xl" routerLink="/activities">Read More</a>
                </ng-template>
            </p-card>
            <p-card header="Bookings" class="m-2 text-center" styleClass="text-center">
                <p class="m-0">
                    {{allDetails.bookingLength}}
                </p>
                <ng-template pTemplate="footer">
                    <a class="no-underline text-xl" routerLink="/bookings">Read More</a>
                </ng-template>
            </p-card>
            <p-card header="Blogs" class="m-2 text-center" styleClass="text-center">
                <p class="m-0">
                    {{allDetails.blogsLength}}
                </p>
                <ng-template pTemplate="footer">
                    <a class="no-underline text-xl" routerLink="/blogs">Read More</a>
                </ng-template>
            </p-card>
            <p-card header="Feedback" class="m-2 text-center" styleClass="text-center">
                <p class="m-0">
                    {{allDetails.feedbackLength}}
                </p>
                <ng-template pTemplate="footer">
                    <a class="no-underline text-xl" routerLink="/feedbacks">Read More</a>
                </ng-template>
            </p-card>
            <p-card header="Contacts" class="m-2 text-center" styleClass="text-center">
                <p class="m-0">
                    {{allDetails.contactLength}}
                </p>
                <ng-template pTemplate="footer">
                    <a class="no-underline text-xl" routerLink="/contacts">Read More</a>
                </ng-template>
            </p-card>
        </div>
    </p-panel>
</div>